<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %>
    </li>
    <div class="overview">
      <%= bookmark.movie.overview %>
      <br>
      <%= bookmark.comment %> |
      <%= link_to "Delete",
        bookmark_path(bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </div>
  <% end %>
</ul>

<%= link_to "go back", lists_path %>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
